output/deliverableTests/
output/studentTests/
build/test/*
build/main/*
.gradle/
studentTests/build/*
deliverableTests/build/*
studentTests/output/*
deliverableTests/output/*
cpsc210deliverablerepo/
cpsc210studentrepo/
bootstrap/deliverableTests/build/
bootstrap/studentTests/build/
bootstrap/deliverableTests/output/
bootstrap/studentTests/output/
bootstrap/deliverableTests/build.gradle
bootstrap/studentTests/build.gradle
bootstrap/studentTests/src
bootstrap/deliverableTests/src
bootstrap/deliverableTests/gradle.properties
bootstrap/studentTests/gradle.properties
